<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.paybus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/login"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activitys.TelaPrincipalActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.PainelDeControleActivity"
            android:label="@string/painel_de_controle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.SobreActivity"
            android:label="Sobre"
            android:parentActivityName=".activitys.PainelDeControleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ListaDeAlunosActivity"
            android:label="Lista de Alunos"
            android:parentActivityName=".activitys.PainelDeControleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MotoristaActivity"
            android:label="Dados do Motorista"
            android:parentActivityName=".activitys.PainelDeControleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.InadimplentesActivity"
            android:label="Inadimplentes"
            android:parentActivityName=".activitys.PainelDeControleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ReceberPagamentosActivity"
            android:label="Receber Pagamentos"
            android:parentActivityName=".activitys.PainelDeControleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.RelatoriosActivity"
            android:label="Relatórios"
            android:parentActivityName=".activitys.PainelDeControleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.CadastrarMotoristaActivity"
            android:label="Cadastrar Motorista"
            android:parentActivityName=".activitys.CadastrarUsuariosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.CadastrarAlunoActivity"
            android:label="Cadastrar Aluno"
            android:parentActivityName=".activitys.ListaDeAlunosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.AdministradorActivity"
            android:label="Painel do Administrador"
            android:parentActivityName=".activitys.TelaPrincipalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.CadastrarUsuariosActivity"
            android:label="Cadastrar Usuários"
            android:parentActivityName=".activitys.AdministradorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.EditarAlunoActivity"
            android:label="@string/title_activity_editar_aluno"
            android:parentActivityName=".activitys.ListaDeAlunosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.CadastrarCobradorActivity"
            android:label="Cadastrar Cobrador"
            android:parentActivityName=".activitys.CadastrarUsuariosActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activitys.PainelDeControleAlunoActivity"
            android:label="Painel de Controle Aluno"
            android:parentActivityName=".activitys.TelaPrincipalActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>