<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.paybus">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/login"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activitys.TelaPrincipalActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.PainelDeControleMotoristaCobradorActivity"
            android:label="@string/painel_de_controle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.SobreActivity"
            android:label="Sobre"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ListaDeAlunosActivity"
            android:label="Lista de Alunos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.EditarSenhaDeUsuarioActivity"
            android:label="Alterar Senha"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ReceberPagamentosActivity"
            android:label="Receber Pagamentos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.RelatoriosActivity"
            android:label="Relatórios"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.CadastrarMotoristaActivity"
            android:label="Cadastrar Motorista"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.CadastrarAlunoActivity"
            android:label="Cadastrar Aluno"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.UsuariosActivity"
            android:label="Usuários"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.EditarAlunoActivity"
            android:label="@string/title_activity_editar_aluno"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.CadastrarCobradorActivity"
            android:label="Cadastrar Cobrador"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.PainelDeControleAlunoActivity"
            android:label="Painel de Controle Aluno"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.PainelDeControleAdminActivity"
            android:label="Painel de Controle Administrador"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ListaDeCobradoresActivity"
            android:label="Lista de Cobradores"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ListaDeMotoristasActivity"
            android:label="Lista de Motoristas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.EditarMotoristaActivity"
            android:label="Editar Motorista"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.EditarCobradorActivity"
            android:label="Editar Cobrador"
            android:screenOrientation="portrait" />
        <activity android:name=".activitys.ViewPDFActivity" />
        <activity
            android:name=".activitys.ListarPagamentos"
            android:label="Lista de meses de pagamento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.CadastrarNovoMesDePagamento"
            android:label="Novo mês de pagamento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ListaDeAlunosPagamentos"
            android:label="Pagamento do Mês"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ReceberPagamentoActivity"
            android:label="Receber Pagamento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.EditarNovoMesDePagamentoActivity"
            android:label="Editar mês de pagamento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.EstatisticaActivity"
            android:label="Estatísticas do Mês"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activitys.VisualizarComprovanteDePagamentoAlunoActivity"
            android:label="Comprovante de Pagamento"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activitys.ViewPDFAjudaActivity"
            android:label="Manual de Ajuda Administrador"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activitys.ParteFinanceiraActivity"
            android:label="Parte Financeira"
            android:screenOrientation="portrait"/>
    </application>

</manifest>